<h1>Sign in</h1>
<form action="/auth" method="post">
    <% if (message) { %>
        <div class="text-center">
            <label style="font-weight:bold; color: red;"><%= message %></label>
        </div>
    <%}%>
    <section>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" autocomplete="email" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <button type="submit">Sign in</button>
</form>