<!DOCTYPE HTML>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Wyver</h1>
    <p>Sistema de doação de orgãos</p>
    <a href="/login" type="button" class="btn btn-danger btn-lg px-4 gap-3">Login</a> </br>
    <a href="/register" type="button" class="btn btn-danger btn-lg px-4 gap-3">Register</a> 
  </body>
</html>